h1 {
  text-align: center;
  font-family: sans-serif;
}

.div_of_btnDivs {
  margin: auto;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.main_div {
  width: 170px;
  min-width: 450px;
  height: 100px;
  text-align: center;
  background-color: gray;
  margin: 10px 0;
  padding: 5px;
}

button {
  width: 160px;
  display: block;
  margin: auto;
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 5px;
}

#histogram_div {
  margin: auto;
  width: 470px;
}

#histogram_div > svg > g > rect:hover {
  fill: orange !important;
}

#theData {
  text-align: center;
  font-family: monospace;
}
