h1 {
  text-align: center;
  font-family: sans-serif;
}
.main_div {
  width: 70%;
  min-width: 450px;
  margin: auto;
}

#main_btn {
  width: 160px;
  display: block;
  margin: auto;
  background-color: green;
  border: none;
  color: white;
  padding: 15px 32px;
  border-radius: 5px;
}

#histogram_div {
  margin: auto;
  width: 470px;
}

#histogram_div > svg > g > rect:hover {
  fill: orange !important;
}

#theData {
  text-align: center;
  font-family: monospace;
}
